@import "../../ui/common/variables";

.m-admin {

    &__tabs {

        .nav-tabs {
            border-color: @japanese-laurel;

            &>li {

                &.active {

                    &>a {
                        background-color: @japanese-laurel;
                        color: @white;
                        border-color: @japanese-laurel;

                        &:hover {
                            background-color: @japanese-laurel;
                            border-color: @japanese-laurel;
                        }
                    }
                }

                &>a {
                    padding: 3px 10px;
                    color: @white;

                    &:hover {
                        background-color: @sea-buckthorn;
                        border-color: @sea-buckthorn;
                        border-bottom-color: @japanese-laurel;
                    }
                }
            }
        }

        .tab-content {
            padding: 20px 0;
        }
    }

    &__step {

        display: inline-block;
        margin-bottom: 20px;

        &-item {
            display: inline-block;
            width: 56px;
            height: 56px;
            padding: 10px;
            font-size: 24px;
            border: 1px solid @japanese-laurel;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;

            &:hover {
                background-color: @japanese-laurel;
                color: @white;
                cursor: pointer;
            }
        }

        &-separator {
            display: inline-block;
            padding: 0 15px 0 5px;
            vertical-align: middle;
        }
    }
}