<div>
    <p>Таск!!!</p>

    <form>
        <div class="input-group">
        <span>Имя</span>
        <input  class="form-control" type="text" ng-model="modalData.title">
    </div>
    <div class="input-group">
        <span>Короткое описание</span>
        <input  class="form-control" type="text" ng-model="modalData.shortDesc">
    </div>
     <div class="input-group">
        <span>описание</span>
        <input  class="form-control" type="text" ng-model="modalData.desc">
    </div>
       <div class="input-group">
        <span>категории</span>
        <input  class="form-control" type="text" ng-model="modalData.categories">
    </div>
       <div class="input-group">
        <span>флаг</span>
        <input  class="form-control" type="text" ng-model="modalData.flag">
    </div>

        <div class="input-group">
        <span>цена</span>
        <input  class="form-control" type="number" ng-model="modalData.price">
    </div>
       <div class="input-group">
        <span>открыт</span>
        <input  type="checkbox" ng-model="modalData.isOpen">
    </div>

        </div>
       <div class="input-group-btn">
       <button class="btn btn-default"
                        type="button"
                        ng-click="save(modalData)">
                    Сохранить
                </button>
    </div>
    </form>

      
</div>