<div class="masthead">
  <h3 class="text-muted">CTF</h3>
  <nav>
    <ul class="nav nav-justified">
      <li><a href="#/main">Биржа</a></li>
      <li class="active"><a href="#/chat">Чат</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Downloads</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>
<div style="background-color:black" class="jumbotron">
  <h1>Chat Epta</h1>
  <ul class="rooms">
    <li ng-repeat="(roomId, room) in rooms">
      <a href="" ng-click="setCurrentRoom(room)">{{roomTitle(room)}}</a>
    </li>
  </ul>
  <ul class="peers">
    <li ng-if="peers" ng-repeat="peerId in currentRoom.peerIds">
      <a href="" ng-click="startRoom(peerId)">{{peers[peerId].name}}</a>
    </li>
  </ul>
  <ul class="messages">
    <li ng-repeat="message in messages[currentRoom.id]">
      {{formatTime(message.time)}} {{getPeer(message).name}}&gt; {{message.text}}
    </li>
  </ul>
  <input ng-model="message">
  <button ng-click="sendMessage(message)" ng-disabled="currentRoom == undefined">Отправить</button>
</div>

<footer class="footer">
  <p>&copy; BalalaikaCr3w 2015</p>
</footer>
