<div ng-controller="MainCtrl" >
  <div class="masthead">
    <h3 class="text-muted">CTF</h3>
    <nav>
      <ul class="nav nav-justified">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div style="background-color:black" class="jumbotron">
    <h1>Marketing stuff!</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
  </div>
  <div class="row" ng-repeat="tasksRow in tasks | groupBy:3">
    <div class="col-lg-4" ng-repeat="t in tasksRow">
      <h2>{{t.name}}</h2>
      <p>{{t.description}}</p>
      <p><a class="btn greenbtn" ng-click="open(t)" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>

<footer class="footer">
  <p>&copy; BalalaikaCr3w 2015</p>
</footer>
